---
const age = "19"
const experience = "4"
---

<section class="flex flex-col gap-14 text-primary text-center mb-44">
    <h1 class="text-3xl font-bold font-title">A propos</h1>
    <div class="flex flex-col m-auto gap-6 font-medium text-lg md:w-lg">
        <p>Je m'appelle Ewen, je suis un développeur web français de {age} ans</p>
        <p>Je suis développeur frontend depuis presque {experience} ans et développeur backend novice</p>
        <p>Je suis in love de Astrojs, mais je suis intéressé par de nombreuses autres technologies, pour du développement frontend et backend</p>
        <p>Si mon profil vous intéresse, n'hésitez pas à me <a href="/#contact" class="text-accent-purple underline decoration-solid font-semibold">contacter</a></p>
    </div>
</section>