---
const name = "Ewha";

const icons = {
  github: "/icons/github.svg",
  twitter: "/icons/twitter.svg",
  linkedin: "/icons/linkedin.svg",
};
---

<header>
  <nav class="flex justify-between items-center p-6 md:py-10 md:px-10">
    <a href="/"><h1 class="text-2xl text-primary font-title">{name}</h1></a>
    <ul class="flex gap-6">
      <a href="https://github.com/ewhalgand" target="_blank">
        <img class="size-8" src={icons.github} alt="icon github" />
      </a>
      <a href="https://x.com/ewha_dev" target="_blank">
        <img class="size-8" src={icons.twitter} alt="icon twitter" />
      </a>
      <a href="https://www.linkedin.com/in/ewen-halgand/" target="_blank">
        <img class="size-8" src={icons.linkedin} alt="icon linkedin" />
      </a>
    </ul>
  </nav>
</header>
