---
const speciality = "full-stack";
---

<section class="flex justify-center mt-20 mb-20 md:mt-24 md:mb-24">
  <div class="text-primary text-center">
    <h1
      class="font-title text-5xl font-medium leading-14 mb-4 md:text-6xl md:leading-18"
    >
      Bonjour, je m'appelle <br /> Ewen Halgand
    </h1>
    <p class="text-lg font-medium text-secondary md:text-xl">
      Développeur web <span class="text-tertiary underline decoration-solid"
        >{speciality}</span
      > junior
    </p>
  </div>
</section>
