---
interface Project {
  title: string;
  slug: {
    current: string,
  };
  image: string;
  url: string;
}

import { getProjets } from '../lib/sanityClient';
import { urlFor } from '../lib/sanityClient';

const projects = await getProjets();
---

<section
  class="grid grid-cols-1 gap-10 mt-44 mb-44 md:grid-cols-2 lg:grid-cols-3"
>
{projects.map((project: Project) => (
    <div class="shadow-md">
      <img
        class="w-full rounded-t-lg h-52 bg-cover bg-center"
        src=`${urlFor(project.image).url()}`
        alt="project image"
      />
      <div class="bg-primary p-4 rounded-b-lg">
        <h2 class="text-tertiary font-medium mb-3">{project.title}</h2>
        <li class="flex gap-4">
          <a href=`${project.url}` target="_blank" class="text-accent text-xs font-medium border-2 border-tertiary p-2 rounded-full hover:bg-tertiary hover:text-primary">Voir le Github</a>
          <a href={`/projects/${project.slug.current}`} class="text-accent text-xs font-medium border-2 border-tertiary p-2 rounded-full hover:bg-tertiary hover:text-primary">En savoir plus</a>
        </li>
      </div>
    </div>
))}
</section>
