---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <meta name="author" content="Ewen Halgand" />
    <meta name="theme-color" content="#6c00c4" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Ewen Halgand • Portfolio" />
    <meta
      property="og:description"
      content="Découvrez à travers mon portfolio qui je suis et ce que je fais."
    />
    <meta property="og:image" content="/favicon.svg" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="ewha.fr" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Ewen Halgand • Portfolio" />
    <meta
      name="twitter:description"
      content="Découvrez à travers mon portfolio qui je suis et ce que je fais."
    />
    <meta name="twitter:image" content="https://ewha.fr/favicon.svg" />
    <meta name="twitter:site" content="@ewha_dev" />
    <meta name="twitter:creator" content="@ewha_dev" />

    <title>{pageTitle}</title>
  </head>
  <body class="mx-auto max-w-7xl">
    <Header />
    <main class="p-6 md:py-10 md:px-10">
      <slot />
    </main>
    <Footer />
  </body>
</html>
